.page{
    display:flex;
    justify-content: center;
    height: 100%;
}

.page-body{
    width: 1280px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    text-transform: uppercase;
    background-position: top center;
    background-repeat: no-repeat;
    text-align: center;
    justify-content: center;
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}

.main-header{
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    height: 56px;
}

.main-header,
.main,
.basement{
    width: 1200px;
}

.main{
    box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

ul{
    list-style: none;
}

.link{
    text-decoration: none;
}

img{
    max-width: 100%;
    max-height: 100%;
}

.h-one{
    margin: 0px;
}

.paragraph{
    margin: 0px;
}

.h-two{
    margin: 0px;
}

.h-three{
    margin: 0px;
}


.main-header{
    background: #FFFFFF;
    box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.site-navigation{
    padding-left: 0px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.link{
    color: black;
}

.link:hover,
.link:focus{
    color: #81B3D2;
}

.link:active{
    color: rgba(0, 0, 0, 0.3)
}

.deactivated{
    color: #766357;
    padding-left: 77px;
}

.heading{
    background-color: #FFFFFF;
    height: 216px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.heading h1{
    font-size: 21px;
    line-height: 26px; 
    white-space: pre-line;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;
    
}

.heading p{
    font-size: 14px;
    line-height: 26px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.site-navigation-item{
    text-align: left;
}

.site-navigation-item-li{
    text-align: right;
}

.main h2{
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
}

.a-logo{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.section-cause-present,
.section-cause-bridge{
    background-color: #81B3D2;
    color: white;
}

.section-privilege,
.section-interested{
    background-color: #FFFFFF;
}

.section-privilege ul{
    height: 330px;
}

.section-privilege ul li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-cause-rest{
    background: #EEEEEE;
}

.section-interested{
    height: 290px;
}

.section-interested h1{
    font-size: 30px;
    line-height: 24px;
    font-weight: bold;
    margin: 0px;
    padding-top: 57px;
}

.section-interested h3{
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    white-space: pre-line;
    padding-top: 32px;
}

.button-section{
    font: inherit;
    text-align: center;
    background-color: #766357;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    width: 568px;
    height: 86px;
    margin-top: 44px;
    text-transform: uppercase;
  }

.button-form:hover,
.button-form:focus{
    background-color: #604E43;
  }

.button-form:active{
    background-color: #503E33;
    color: rgba(255,255,255,0.3);
  }

.modal{
    box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
    display: none;
    width: 568px;
    position: relative;
    bottom: 1px;
    left: 316px;
    z-index: 1;
}

.modal-form{
    display: flex;
    width: 458px;
    flex-direction: column;
    align-items: center;
    background-color: white;
    font-size: 14px;
    line-height: 26px;
    padding: 55px;
    height: 285px;
    font-weight: bold;
}

.medal-label{
    width: 458px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calendar-entry,
.calendar-departure{
    width: 346px;
    height: 38px;
    font-family: "PT Sans", Arial, sans-serif;
    border: none;
    background: #F2F2F2;
    font-weight: bold;
}

.modal-number{
    width: 38px;
    height: 38px;
    font-family: "PT Sans", Arial, sans-serif;
    padding: 0px;
    border: 0px;
    background: #F2F2F2;
    text-align: center;
    font-weight: bold;
}

.div-number{
    display: flex;
}

.div-children{
    margin-left: 28px;
}

.button-minus,
.button-plus{
    width: 38px;
    height: 38px;
    background: #F2F2F2;
    border: none;
}

.button-minus{
    background-image: url(../img/minus.svg);
}

.button-minus:hover,
.button-minus:focus{
    background-image: url(../img/minus-hover.svg);
}

.button-minus:active{
    background-image: url(../img/minus-active.svg);
}

.button-plus{
    background-image: url(../img/plus.svg);
}

.button-plus:hover,
.button-plus:focus{
    background-image: url(../img/plus-hover.svg);
}

.button-plus:active{
    background-image: url(../img/plus-active.svg);
}

.modal-div{
    display: flex;
    width: 458px;
    padding-top: 30px;
}

.modal-label-number{
    display: flex;
    align-items: center;
}

.modal-input{
    margin-right: 3px;
}

.modal-button{
    width: 458px;
    height: 58px;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 21px;
    margin-top: 15px;
    background-color: #81B3D2;
    border: none; 
    outline: none;
    color:white;
    margin-top: 54px;
    text-transform: uppercase;
}

.basement{
    height: 594px;
    box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
    background-image: url(../img/map.png);
    position: relative;
}

.basement-footer{
    background-color: white;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 120px;
    width: 1200px;
    box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.basement-footer section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-number{
    flex-direction: column;
}

.number{
    color:black;
    text-decoration: none;
}

.ul-hotels{
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    text-align: start;
}

.ul-hotels h2{
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
}

.section-hotels{
    background-color: white;
    display: flex;
    border-bottom: 1px solid #E5E5E5;
    height: 151px;
}

.button-more{
  color:white;
  background-color: #81B3D2;
  font-weight: bold;
  width: 110px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 14px;
}

.button-more:hover,
.button-more:focus{
  background-color:#669EC0;
}

.button-more:active{
    background-color: #5496BD;
    color: rgba(255, 255, 255, 0.3);
}

.button-reservation{
    color: white;
    background-color: #766357;
    font-weight: bold;
    width: 142px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 13px;
}

.button-reservation:hover,
.button-reservation:focus{
    background-color: #604E43;
}

.button-reservation:active{
    background-color: #503E33;
    color: rgba(255, 255, 255, 0.3);
}

.background-greetings{
    background-color: #84a8c9;
    background-image: url(../img/background-mountain.jpg);
    width: 1200px;
    height: 510px;
}

.background-greetings-img{
    padding-top: 76px;
}

.twitter{
    background-image: url(../img/twitter.svg);
    display: block;
    width: 46px;
    height: 48px;
    margin-right: 6px;
}

.twitter:hover,
.twitter:focus{
    background-image: url(../img/twitter-focus.svg);
}

.twitter:active{
    background-image: url(../img/twitter-active.svg);
}

.facebook{
    background-image: url(../img/facebook.svg);
    display: block;
    width: 46px;
    height: 48px;
}

.facebook:hover,
.facebook:focus{
    background-image: url(../img/facebook-focus.svg);
}

.facebook:active{
    background-image: url(../img/facebook-active.svg);
}

.youtube{
    background-image: url(../img/youtube.svg);
    display: block;
    width: 46px;
    height: 48px;
    margin-left: 6px;
}

.youtube:hover,
.youtube:focus{
    background-image: url(../img/youtube-focus.svg);
}

.youtube:active{
    background-image: url(../img/youtube-active.svg);
}

.htmlacademy{
    background-image: url(../img/logo-htmlacademy.svg);
    display: block;
    width: 197px;
    height: 41px;
    background-repeat: no-repeat;
    padding-bottom: 9px;
    padding-right: 70px;
}

.htmlacademy:hover,
.htmlacademy:focus{
    background-image: url(../img/logo-htmlacademy-focus.svg);
}

.htmlacademy:active{
    background-image: url(../img/logo-htmlacademy-active.svg);
}

.section-cause-present{
    display: flex;
}

.photo-sity{
    width: 800px;
    height: 256px;
    background-color: green;
}

.photo-sity img{
    height: 100%;
}

.div-cause-present{
    width: 400px;
    display: flex;
    flex-direction: column;
    white-space: pre-line;
}


.section-privilege ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
    white-space: pre-line;
}

.section-cause-bridge{
    display: flex;
}

.photo-bridge{
    width: 800px;
    height: 256px;
    background-color: green;
}

.photo-bridge img{
    height: 100%;
}

.div-cause-bridge{
    width: 400px;
    display: flex;
    flex-direction: column;
}

.section-cause-rest ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
    white-space: pre-line;
    height: 256px;
}

.house{
    width: 75px;
    height: 72px;
    background-image: url(../img/house-icon.svg);

}

.food{
    width: 75px;
    height: 70px;
    background-image: url(../img/food-icon.svg);
}

.present{
    width: 64px;
    height: 77px;
    background-image: url(../img/present-icon.svg);
}

.social ul{
    display: flex;
    padding-left: 0px;
}

.div-hotel{
    display: flex;
}

.img-hotel{
    padding-left:73px;
    padding-top:30px;
    padding-right:29px;
    width: 135px;
    height: 90px;
}

.form-filter{
    display: flex;
    background-color: #84a8c9;
    background-image: url(../img/background-filter.jpg);
    height: 217px;
    color: white;
}

.form-filter ul{
    padding: 0px;
}

.fieldset-infrastructure{
    width: 135px;
    height: 160px;
    border: none;
    text-align: start;
    padding: 0;
    margin-left: 72px;
}

.fieldset-type-housing{
    width: 137px;
    height: 160px;
    border: none;
    text-align: start;
    padding: 0;
    margin-left: 117px;
}

.filter-item{
    margin: 0;
    padding: 0;
    border: none;
    margin-left: 345px;
}

.range-filter{
    width: 316px;
    padding-top: 11px;
}

.range-controls{
    position: relative;
    height: 22px;
    padding-top: 21px;
}

.range-controls .scale{
    height: 2px;
    background: #d7dcde;
}

.range-controls .bar{
    height: 2px;
    background: white;
}

.range-controls .toggle{
    position: absolute;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid #ffffff;
    background-color: #ababab;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    cursor: pointer;
}
  
.range-controls .toggle-min{
    bottom: 12px;
 }
  
.range-controls .toggle-max{
    bottom: 12px;
}

.toggle-max{
    left: 251px;
}

.toggle-min{
    left:0%;
}

.bar{
    width: 82%;
    margin-left: 0%
}

.modal-button:hover,
.modal-button:focus{
    background-color: #669EC0;
}

.modal-batton:active{
    background-color: #5496BD;
}

.button-span{
    display: flex;
    height: 58px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.button-span:active{
    mix-blend-mode: normal;
    opacity: 0.3;
}

.icon-mar{
    margin-top: 28px;
    margin-bottom: 25px;
}

.cause-li{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-custom{
    width: 1200px;
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    bottom: 0px;
}

.section-filter{
    height: 86px;
    display: flex;
    border-bottom: 1px solid #E5E5E5
}

.map{
    width:1200px;
    height:594px;
    border:0;
}

input[type="number"]{
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.custom-checkbox{
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox+label::before{
    content: "";
    display: inline-block;
    width: 23px;
    height: 23px;
    flex-shrink: 0;
    flex-grow: 0;
    background-image: url(../img/checkbox-off.svg);
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    vertical-align: baseline;
}

.custom-checkbox:checked+label::before{
    background-image: url(../img/checkbox-on.svg);
    width: 27px;
}

.toggle:hover,
.toggle:focus{
    width: 8px;
    height: 8px;
}

.filter-span{
    padding-left: 40px;
}

.link-info{
    padding-right: 60px;
}

.link-catalog{
    padding-left: 77px;
}

.p-cause{
    padding-top: 44px;
}

.h-cause{
    padding-top: 14px;
}

.h-sity-cause{
    padding-top: 46px;
}

.p-mar{
    margin-top: 26px;
}

.p-life{
    padding-top: 26px;
}

.p-house{
    margin-bottom: 23px;
}

.p-food{
    margin-bottom: 22px;
}

.p-present{
    margin-bottom: 29px;
}

.h-bridge{
    white-space: pre-line;
    padding-top: 50px;
}

.p-bridge{
    white-space: pre-line;
    padding-top: 23px;
}

.h-padding{
    padding-top: 48px;
}

.p-padding{
    padding-top: 22px;
}

.button-filter{
    width: 138px;
    height: 36px;
    background: none;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    color:white;
    text-transform: uppercase;
    margin-top: 13px;
    margin-right: 10px;
}

.button-filter:hover,
.button-filter:focus{
    color:black;
    background-color: white;
}

.modal-show{
    display: block;
    animation-name: bounce;
    animation-duration: 0.6s;
}

@keyframes bounce{
    0%{
      transform: translateY(-200px);
    }
  
    70%{
      transform: translateY(30px);
    }
  
    90%{
      transform: translateY(-10px);
    }
  
    100%{
      transform: translateY(0);
    }
}

.modal-error{
    animation-name: shake;
    animation-duration: 0.6s;
}

@keyframes shake{
    0%,
    100%{
      transform: translateX(0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90%{
      transform: translateX(-10px);
    }
  
    20%,
    40%,
    60%,
    80%{
      transform: translateX(10px);
    }
}

.filte-input{
    border: none;
    background: none;
    width: 70px;
    height: 32px;
    color: white;
    padding: 0px;
}

.filter-div-input{
    width: 155px;
    height: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.price-controls{
    display: flex;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    align-items: center;
}

.filter-div-input span{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    white-space: pre;
    height: 32px;
}

.filter-img{
    width: 2px;
    height: 22px;
}

.section-filter ul{
    display: flex;
}

.a-price{
    color: #81B3D2;
}

.a-tipe,
.a-rating{
    opacity: 0.3;
    border-bottom: 1px dashed #81B3D2;
}

.a-tipe:hover,
.a-rating:hover,
.a-tipe:focus,
.a-rating:focus{
    color: #81B3D2;
}

.a-tipe:active,
.a-rating:active{
    opacity: 1;
    color:black;
    border:none;
}

.a-up{
    width: 11px;
    height: 10px;
    background-image: url(../img/up-dir.svg);
    display: block;
}

.a-up:hover,
.a-up:focus{
    background-image: url(../img/up-dir-hover.svg);
}

.a-up:active{
    background-image: url(../img/up-dir-active.svg);
}

.a-down{
    width: 11px;
    height: 10px;
    background-image: url(../img/down-dir.svg);
    display: block;
}

.section-filter ul{
    margin: 0px;
}

.span-rating{
    width: 110px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    margin-top: 41px;

}

.div-rating{
    text-align: end;
    padding-left: 524px;
    padding-top: 29px;
}

.filter-legend{
    font-size: 16px;
    font-weight: bold;
    padding-top: 25px;
    text-align: start;
}

.filter-li-pool,
.filter-li-hotel{
    padding-top: 11px;
}

.filter-li-parking,
.filter-li-wifi,
.filter-li-motel,
.filter-li-apartments{
    padding-top: 25px;
}

.span-sorting{
    font-size: 12px;
    line-height: 18px;
    padding-top: 30px;
    padding-left: 47px;
}

.ul-sorting{
    font-size: 12px;
    line-height: 18px;
    padding-top: 30px;
    padding-left: 0px;
}

.section-filter h2{
    padding-top: 31px;
    padding-left: 73px;
}

.li-price{
    padding-left: 40px;
}

.li-tipe,
.li-rating{
    padding-left: 33px;
}

.li-up{
    padding-left: 463px;
    padding-top: 40px;
}

.li-down{
    padding-left: 12px;
    padding-top: 40px;
}

.h-title{
    padding-top: 23px;
}

.div-more{
    padding-top: 8px;
}

.div-reservation{
    padding-top: 9px;
    padding-left: 6px;
}

.telephone{
    padding-bottom: 20px;
    padding-left: 72px;
}

.hashtag{
    padding-left: 73px;
    margin-bottom: 9px;
}

.a-icon-one,
.a-icon-two{
    width: 21px;
    height: 23px;
    background-image: url(../img/calendar.svg);
    position: absolute;
}

.a-icon-one:hover,
.a-icon-two:hover,
.a-icon-one:focus,
.a-icon-two:focus{
    background-image: url(../img/calendar-hover.png);
}

.a-icon-one:active,
.a-icon-two:active{
    background-image: url(../img/calendar-active.png);
}

.a-icon-one{
    left: 483px;
    top: 62px;
}

.a-icon-two{
    left: 483px;
}

.label-checkout{
    padding-top: 25px;
}

.div-adults{
    padding-right: 3px;
    margin-left: 40px;
}

.span-children{
    padding-left: 50px;
}

.calendar-entry::-webkit-datetime-edit,
.calendar-entry::-webkit-datetime-edit-fields-wrapper,
.calendar-entry::-webkit-datetime-edit-text,
.calendar-entry::-webkit-datetime-edit-month-field,
.calendar-entry::-webkit-datetime-edit-day-field,
.calendar-entry::-webkit-datetime-edit-year-field,
.calendar-entry::-webkit-inner-spin-button,
.calendar-entry::-webkit-calendar-picker-indicator{
   opacity: 0;
}

.calendar-departure::-webkit-datetime-edit,
.calendar-departure::-webkit-datetime-edit-fields-wrapper,
.calendar-departure::-webkit-datetime-edit-text,
.calendar-departure::-webkit-datetime-edit-month-field,
.calendar-departure::-webkit-datetime-edit-day-field,
.calendar-departure::-webkit-datetime-edit-year-field,
.calendar-departure::-webkit-inner-spin-button,
.calendar-departure::-webkit-calendar-picker-indicator{
   opacity: 0;
}

.a-link{
    text-decoration: none;
}

.page-body-catalog{
    width: 1280px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    text-transform: uppercase;
    background-position: top center;
    background-repeat: no-repeat;
    text-align: center;
    justify-content: center;
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content min-content min-content;
}