body {
    min-width:1220;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    text-transform: uppercase;
    background-color: #888888;
    background-position: top center;
    background-repeat: no-repeat;
}

header{
    font-weight: 700;
}

header,
main{    
    align-items: center;
    text-align: center;
}

ul{
    list-style: none;
}

a {
    text-decoration: none;
}
  
img {
    max-width: 100%;
    height: auto;
}

.main-header {
    background: #FFFFFF;
}

.main-navigation {
    font-size: 14px;
    line-height: 26px;
}

.site-navigation a,
.user-navigation a {
    color: black;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
    background-color: #888888;
}

.heading{
    background-color: #FFFFFF;
}

.heading h1{
    font-size: 21px;
    line-height: 26px; 
    white-space: pre;
    font-weight: 700;
    
}
.heading p {
    font-size: 14px;
    line-height: 26px;
}

.section-cause-1,
.section-cause-2{
    background-color: #81B3D2;
}

.section-cause-1 h2,
.section-cause-2 h2{
    font-size: 21;
    line-height: 21;
}
.modal{
    display: none;
}

.section-privilege{
    background-color: #FFFFFF;
}

.section-cause-3{
    background-color: #EEEEEE;
}

.section-interested{
    background-color: #FFFFFF;
}
.section-interested button {
    font: inherit;
    text-align: center;
    background-color: #766357;
    border: none;
  }

  .section-interested button:hover,
  .section-interested button:focus,
  .section-interested button:active {
    background-color: #81B3D2;
  }

  footer{
      background-color: white;
  }

  .section-hotels{
      background-color: white;
  }

  .button-more{
    color:white;
    background-color: #81B3D2;
  }
  
  .button-more:hover,
  .button-more:focus{
    background-color:black;
  }

  .button-reservation{
      color: white;
      background-color: #766357;
  }

  .button-reservation:hover,
  .button-reservation:focus{
      background-color: black;
  }

  .section-hotels h2{
    font-size: 21px;
    line-height: 26px;
  }

  .section-hotels h3{
    font-size: 14px;
    line-height: 21px;
  }
